# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/

# Environnements virtuels
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Données brutes (sauf .gitkeep)
data/raw/*
!data/raw/.gitkeep

# Sorties de tests
*_output.txt
